#um{ 
    width:900px;
    height:240px; 
    background-color:green;

}
#dois{ 
    
    width:880px; 
    position:relative; 
    top:10px;; 
    height:220px; 
    margin: 0 auto; 
    background-color:red;

}
#item{
  background-color: violet;  
  border:1px solid black;
  border-top: 2px solid black;
}
.item1{
    text-decoration: underline;
    color: green;
}
.item2{
    text-decoration: underline;
    color: darkblue;
}
.item3{
    text-decoration: underline;
    color: yellow;
}
p{
    font-weight: bold;
    font-size: 20px;
}
#paragrafo{
    border:1px solid black;
    
    
}
#tres{ 
    width:900px;
    height:240px; 
    background-color:maroon;

}
#quatro{ 
    
    width:880px; 
    position:relative; 
    top:10px;; 
    height:220px; 
    margin: 0 auto; 
    background-color:yellow;
    
}
.paragrafotres{
    margin-top: 80px;
    position: absolute;
    font-size: 40px;
    font-weight: bold;

    
}
ul{
    list-style: "*";
}